<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <servlet-class>com.mycompany.taskmanagementsystem.controller.UpdateTaskServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ToggleTaskStatusServlet</servlet-name>
        <servlet-class>com.mycompany.taskmanagementsystem.controller.ToggleTaskStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <servlet-class>com.mycompany.taskmanagementsystem.controller.DeleteTaskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateTaskServlet</servlet-name>
        <url-pattern>/updateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ToggleTaskStatusServlet</servlet-name>
        <url-pattern>/toggleTaskStatus</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>DeleteTaskServlet</servlet-name>
        <url-pattern>/deleteTask</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
